<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NewRestApiTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NewRestApiTester__.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NewRestApiTester.Properties.Settings>
            <setting name="RemoteAdress" serializeAs="String">
                <value>http://bi_rnd:8080/API2</value>
            </setting>
            <setting name="BodyLogInJson" serializeAs="String">
                <value>{"OperationType":"New","email":"amir@seperia.com","Password":"123456",
"UserID":"8","Session":"0EB3BAD4D3FB3F64FE2EE9EC27B54752"}</value>
            </setting>
            <setting name="DefaultHeaders" serializeAs="String">
                <value>x-edgebi-session:{0}</value>
            </setting>
            <setting name="BodyGetSpecificPermission" serializeAs="String">
                <value>{"AccountID":"7","Path":"management"}</value>
            </setting>
            <setting name="Services" serializeAs="String">
                <value>users/{0},users,Menu,accounts,accounts/{0},permissions,permissions/list,permissions/tree,Sessions,groups,groups/{0},users/{0}/permissions,groups/{0}/permissions,Tools/refund,users/{0}/groups,groups/{0}/users,groups/{0}/users/{1},accounts/{0}/campaigns?channel={1},accounts/{0}/campaigns/{1}</value>
            </setting>
            <setting name="LocalAdress" serializeAs="String">
                <value>http://localhost:8080/</value>
            </setting>
        </NewRestApiTester.Properties.Settings>
        <NewRestApiTester__.Properties.Settings>
            <setting name="LocalAdress" serializeAs="String">
                <value>localhost:28383</value>
            </setting>
            <setting name="RemoteAdress" serializeAs="String">
                <value>localhost/api2</value>
            </setting>
            <setting name="BodyLogInJson" serializeAs="String">
                <value>{"OperationType":"New","email":"amir@seperia.com","Password":"123456",
"UserID":"8","Session":"0EB3BAD4D3FB3F64FE2EE9EC27B54752"}</value>
            </setting>
            <setting name="DefaultHeaders" serializeAs="String">
                <value>x-edgebi-session:{0}</value>
            </setting>
            <setting name="BodyGetSpecificPermission" serializeAs="String">
                <value>{"AccountID":"7","Path":"management"}</value>
            </setting>
            <setting name="Services" serializeAs="String">
                <value>users/{0},users,Menu,accounts,accounts/{0},permissions,permissions/list,permissions/tree,Sessions,groups,groups/{0},users/{0}/permissions,groups/{0}/permissions,Tools/refund,users/{0}/groups,groups/{0}/users,groups/{0}/users/{1},ext/accounts/{0}/campaigns/channels/{1},ext/accounts/{0}/campaigns/{1},ext/CampaignStatusSchedule/{0}</value>
            </setting>
        </NewRestApiTester__.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
