<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Easynet.Edge.Services.BackOffice.EasyForex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Easynet.Edge.Services.BackOffice.EasyForex.Properties.Settings>
            <setting name="Edge_Services_BackOffice_EasyForex_EasyForexBackOffice_Marketing"
                serializeAs="String">
                <value>https://classic.easy-forex.com/BackOffice/API/Marketing.asmx</value>
            </setting>
            <setting name="Edge_Services_BackOffice_EasyForex_com_prp1_ezfx_classic_Marketing"
                serializeAs="String">
                <value>https://classic.easy-forex.com/BackOffice/API/Marketing.asmx</value>
            </setting>
        </Easynet.Edge.Services.BackOffice.EasyForex.Properties.Settings>
    </applicationSettings>
</configuration>