<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Easynet.Edge.UI.Client.OltpProxy.ServerAddress.Relative" value="/server/OltpLogic.svc"/>
		<add key="Easynet.Edge.UI.Client.MainMenu.MenuXmlAddress.Relative" value="/server/Menu.xml"/>
		<add key="Easynet.Edge.UI.Client.Pages.WebFramePage.RootAddress.Relative" value="/web/Pages/"/>
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint
					  binding="customBinding"
					  bindingConfiguration="Https_IOltpLogic"
					  contract="Easynet.Edge.UI.Server.IOltpLogic"
					  name="IOltpLogic_Endpoint"
			/>
		</client>
		
		<bindings>
			<customBinding>
				<binding name="Https_IOltpLogic"
						 closeTimeout="00:00:30"
						 openTimeout="00:00:30"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00">
					<reliableSession ordered="False" inactivityTimeout="00:20:00" maxRetryCount="3" />
					<httpsTransport maxReceivedMessageSize="52428800"/>
				</binding>
			</customBinding>
		</bindings>
		
    </system.serviceModel>

</configuration>