<?xml version="1.0" encoding="utf-8" ?>
	<appSettings>
		<add key="Easynet.Edge.UI.Client.OltpProxy.ServerAddress.Relative" value="/server/OltpLogic.svc"/>
		<add key="Easynet.Edge.UI.Client.OltpProxy.ServerAddress.Absolute" value="https://console.edge-bi.com/server/OltpLogic.svc"/>
		<!--<add key="Easynet.Edge.UI.Client.OltpProxy.ServerAddress.Absolute" value="http://localhost:3344/OltpLogic.svc"/>-->
		<add key="Easynet.Edge.UI.Client.Pages.WebFramePage.RootAddress.Relative" value="/web/Pages/"/>
		<add key="Easynet.Edge.UI.Client.Pages.WebFramePage.RootAddress.Absolute" value="https://console.edge-bi.com/web/pages/"/>
		<!--<add key="Easynet.Edge.UI.Client.Pages.WebFramePage.RootAddress.Absolute" value="http://localhost:3345/Pages/"/>-->
	</appSettings>