<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<edge.services>
		<Service Name="AccountWizard">
			<ExecutionSteps>
				<Step ServiceToUse="AccountWizardCollectors" isolation="none"/>
				<Step ServiceToUse="AccountWizardExecutors" isolation="none"/>
			</ExecutionSteps>
		</Service>
		
		<Service Name="AccountWizardCollectors">
			<ExecutionSteps>
				<Step ServiceToUse="Step1Collector" isolation="none"/>
				<Step ServiceToUse="Step2Collector" isolation="none"/>
				<Step ServiceToUse="Step3Collector" isolation="none"/>
			</ExecutionSteps>
		</Service>
		
		<Service Name="AccountWizardExecutors">
			<ExecutionSteps>
				<Step ServiceToUse="Step1Executor" isolation="none"/>
				<Step ServiceToUse="Step2Executor" isolation="none"/>
				<Step ServiceToUse="Step3Executor" isolation="none"/>
			</ExecutionSteps>
		</Service>


	</edge.services>
</configuration>