<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=console.edge-bi.com;Initial Catalog=Seperia;User Id=edgedev;Password=Uzi!2010"/>-->
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=192.168.1.151;Initial Catalog=testdb;User ID=sa;Password=Iuh2sstd"/>
		<add key ="CheckSession" value="false"/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Information, ActivityTracing">
				<listeners>
					<add name="ServiceModelMessageLoggingListener" />
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Error, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="ServiceModelTraceListener" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
			</add>
			<add initializeData="tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
			</add>
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
  
</configuration>
