h2.trigger {
	background:#F5F5F5 url('images/tb-closed.png') left no-repeat ;
    border-top:1px solid #C2C3C5;
    float:left;
    font-family:"verdana";
    font-size:12px;
    font-weight:normal;
    height:23px;
    line-height:23px;
    margin:0;
    outline:medium none;
    padding:0 0 0 50px;
    width:100%;
        position:relative;

}
h2.trigger a {
	color:#7CA81D;
	text-decoration: none;
	display: block;
    margin-left:-16px;

}

h2.trigger:hover{

    background:#E3E3E3 url("images/tb-closed-hover.png") left no-repeat   ;
   
}
h2.trigger a:hover {
    color:#7CA81D;
   
}
h2.active {
  
    background:#E3EDCB url("images/tb-open.png") left no-repeat;
    padding: 0 0 0 50px;
	height:23px;
    line-height:23px;
	width: 100%;
	font-size: 12px;
    font-family:"verdana";
	font-weight: normal;
	float: left;
    position:relative;
    
}

/*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/


h2.active:hover{
    background:#E3EDCB url("images/tb-open-hover.png") left no-repeat;

}
.toggle_container {
	margin: 0px 0px 0px 0px;
	padding: 0;
	font-size: 12px;
    overflow:auto;
	width: 100%;
	clear: both;
    display:none;
}




.toggle_container .block {
	padding: 0px; /*--Padding of Container--*/
	width:960px;
    font-size:12px;
    margin-top:0px;
    margin-bottom:0px;
     
}
#header{
    width:960px;
    margin:0 auto;
}
#header ul{
    background-color:#8d8d8d;
    overflow:hidden;
    width:96%;
    height:26px;
    -moz-border-radius:5px 5px 0px 0px ;
    line-height:26px;

    

}

#header ul li{
    float:left;
    list-style:none;
    margin-right:500px;
    



}



#header h5{
    margin:0px;
    color:white;
    font-family:verdana;
    

}
#header ul li:last-child{
    margin-right:50px;
    float:right;
     font-family:verdana;
}

#content{
    width:960px;
    overflow:hidden;
    border: 1px solid #C2C3C5 ;
   margin:-18px auto

}

#container{
   width:960px;
   margin:0 auto;
  

}

#list{
    list-style:none;
    padding-left:0px;
    margin:0px;




}

#dim{
    background-color:#E3EDCB;
   height:194px;
    width:300px;
    -moz-border-radius:10px;
    float:left;
    overflow:hidden;


}

h4{
    margin:0px;

}

#fact{
    background-color: #E3E3E3;
    padding:24px;
    width:120px;
    height:67px;
    -moz-border-radius:10px;
    float:right;


}

.clear{
    clear: both;
    
}

#list li{
     font-family:verdana;
      border-top:1px solid #C2C3C5;
        color:#7CA81D;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:0px;
    margin-left:0px;
    font-size:14px;

}






.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(switch.gif) repeat-x;  display: block; float: left;  }
    .cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
    .cb-enable span { background-position: left -90px; padding: 0 10px; }
    .cb-disable span { background-position: right -180px;padding: 0 10px; }
    .cb-disable.selected { background-position:0 -60px; }
    .cb-disable.selected span { background-position: right -240px; color: #fff; }
    .cb-enable.selected { background-position: 0 -60px; }
    .cb-enable.selected span { background-position: left -150px; color: #fff; }
    .switch label { cursor: pointer; }
    .switch input { display: none; }


#switcher{
    margin-left:40px;

}

#dimcombo{
margin-left:9px;
margin-top:40px;

}

#factcombo{
margin-left:9px;
margin-top:40px;
}
span#bullet{
float:left;
margin-top:3px;
margin-left:40px;
margin-right:10px;
}

.mapping{
position:absolute;
    left:824px;
    top:-1px;
}
#modal{

    display:none;
}

ul#map{
    overflow:hidden;
    list-style:none;
    
}

table#map {
   margin:auto;
    width:800px;
   


}

#map td{

 border:1px solid #DEDBD1;
}




#map thead td{
font-weight:bold;
text-align:center;
}


li a,li a:active{
    color: #7CA81D;
    text-decoration:none;
    
}

a.new{

    left:759px;
    position:absolute;
    top:-1px;
}

a.delete{

   left:893px;
    position:absolute;
    top:-1px
}

.delete span{
    display:block;
    width:100%


}

#confirm{
    display:none;

}

#confirm span{
    display:none;

}

.button {
    -moz-border-radius:5px 5px 5px 5px;
    background:-moz-linear-gradient(center top , #7DB72F, #4E7D0E) repeat scroll 0 0 transparent;
    border:1px solid #538312;
    color:#E8F0DE;
    padding:5px;
    cursor:pointer;
}
.button:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.button:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

.checkbox{
    float:left;
    margin-left:20px;
    margin-right:30px;

}

#analyze{

        float:left;
        margin-left:-188px;
        margin-top:90px;
}

#count{

    display:none;
}

#submit{
    float:right;
    margin-right:167px;
    margin-top:38px;
}

#approval{

    display:none;
}