<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=console.edge-bi.com;Initial Catalog=Seperia_DWH;User ID=edge;Password=edgebi!" />
		<add key="EdgeBI.Web.DataServices.MeasureDataService.Commands.GetMeasures" value="Seperia.dbo.Measure_GetMeasures(@accountID:int,@includeBase:bit)"/>
		<add key="EdgeBI.Web.DataServices.MeasureDataService.Commands.GetData" value="DataService_GetDataV2(@Sql:text)"/>
		<add key="EdgeBI.Web.DataServices.MeasureDataService.Commands.GetChannels" value="SELECT [Channel_ID],[Display_Name] FROM [Dwh_Dim_Channels]"/>
    <add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=79.125.11.74;Initial Catalog=Seperia_DWH;User ID=edge;Password=edgebi!" />
    <add key="MSOLAPConnectionString" value="provider=MSOLAP.4;Data Source=79.125.11.74;initial catalog=Seperia_UDM;User ID=edge2ui;Password=Uzi!2009" />
    <add key="EdgeBI.Web.DataServices.MeasureDataService.StoredProcedures.GetData" value="DataService_GetData(@SqlArray:text,@Delimiter:nchar)"/>
    <add key="EdgeBI.Web.DataServices.MeasureDataService.Formating.Diff.Abs" value="$#,#0.#"/>
    <add key="EdgeBI.Web.DataServices.MeasureDataService.Formating.Diff.Rel" value="#,#0.#"/>
	</appSettings>
  
    <system.web>
		<customErrors mode="Off"/>
		<compilation debug="true"/>
    </system.web>

    <system.serviceModel>
        <services>
            <service behaviorConfiguration="MeasureDataService.configuration" name="EdgeBI.Web.DataServices.MeasureDataService">
                <endpoint binding="webHttpBinding" contract="EdgeBI.Web.DataServices.IMeasureDataService" behaviorConfiguration="REST.configuration"/>
            </service>
        </services>
		
		<behaviors>
            <serviceBehaviors>
                <behavior name="MeasureDataService.configuration">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
			<endpointBehaviors>
				<behavior name="REST.configuration">
					<webHttpWithArrayParams delimeter=","/>
				</behavior>
			</endpointBehaviors>
        </behaviors>

		<extensions>
			<behaviorExtensions>
				<add
				  name="webHttpWithArrayParams"
				  type="EdgeBI.Web.DataServices.WebHttpWithArrayParamsBehaviorElement, EdgeBI.Web.DataServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
				/>
			</behaviorExtensions>
		</extensions>
		
    </system.serviceModel>
</configuration>
