<?xml version="1.0"?>
<configuration> 
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MyNewWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
  <connectionStrings />
  <appSettings>
    <add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=EDGE-BI-MC;Initial Catalog=WizardsDB;Integrated Security=True"/>
    <add key="Easynet.Edge.Core.Data.DataManager.Connection.Timeout" value="200"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <MyNewWizard.Properties.Settings>
          <setting name="CubeNameStartWith" serializeAs="String">
            <value>BO</value>
          </setting>
          <setting name="RoleMemberName" serializeAs="String">
            <value>Edge\BIadmin</value>
          </setting>
          <setting name="targetCPADefault" serializeAs="String">
            <value>Target {0} CPA</value>
          </setting>
          <setting name="FloatDiagram" serializeAs="String">
            <value>CubeBuilderFlow.pdf</value>
          </setting>
        </MyNewWizard.Properties.Settings>
    </userSettings>
</configuration>
