<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="edge.services" type="Easynet.Edge.Core.Configuration.ServicesSection, Edge.Core"/>

	</configSections>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Services"/>
		</assemblyBinding>
	</runtime>

	<!-- ======================================================== -->
	<!--						App Settings					  -->
	<!-- ======================================================== -->
	<appSettings>
		<!--Core-->
    <add key="EdgeBI.Wizards.GoogleConversions" value="Signups,Lead,Purchase,Conversions"/>
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=EDGE-BI-MC;Initial Catalog=AlonTestDB;Integrated Security=True"/>
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.Timeout" value="200"/>
		<add key="Easynet.Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}"/>
		<add key="Easynet.Edge.Core.Services.Service.AssemblyDirectory" value="Services"/>
		<add key="Easynet.Edge.Core.Configuration.ServiceElement.DefaultMaxExecutionTime" value="00:40:00"/>
		<add key="Easynet.Edge.Core.Domain" value="seperia.hz"/>
		<add key="Easynet.Edge.Services.DataRetrieval.BaseService.SourceConnectionString" value="Data Source=EDGE-BI-MC;Initial Catalog=AlonTestDB;Integrated Security=true"/>
		<add key="EdgeBI.Wizards.ActiveDirectoryStepExecutor.LDAP.Path" value="C55E8EA80077B1CD2C75975FD557CDB0A65342B87C8F1A5EA2792E0B8A5CDD3ACEA96A6A7EE4B5B94692CECA13759FA2"/>
		<add key="EdgeBI.Wizards.ActiveDirectoryStepExecutor.LDAP.UserName" value="5D867598169025005124324719C80725"/>
		<add key="EdgeBI.Wizards.ActiveDirectoryStepExecutor.LDAP.Passwrod" value="E75F32E90BF961F832E01D4BE19E0409"/>
		<add key="EdgeBI.Wizards.StepExecuter.AnalysisServer.ConnectionString" value="DataSource=EDGE-BI-MC"/>
		<add key="EdgeBI.Wizards.StepExecuter.AnalysisServer.Database" value="easynet_UDM"/>
    <add key="EdgeBI.Wizards.StepExecuter.AnalysisServer.Database.ID" value="easynet_UDM_Part"/>
		<add key="EdgeBI.Wizards.StepExecuter.OLTP.Connection.string" value="Data Source=EDGE-BI-MC;Initial Catalog=easynet_Oltp;Integrated Security=True"/>
		<add key="EdgeBI.Wizards.StepExecuter.Cube.Templates.BOTemplate" value="BOTemplate2"/>
    <add key="EdgeBI.Wizards.StepExecuter.Cube.BO.Name.Perfix" value="BO"/>
    <add key="EdgeBI.Wizards.StepExecuter.Cube.Content.Name.Perfix" value="Content"/>
		<add key="EdgeBI.Wizards.StepExecuter.Cube.Templates.ContentTemplate" value="ContentTemplate"/>
		<add key="EdgeBI.Wizards.StepExecuter.Cube.CubePermission.ID" value="EdgeBICubePermissionID"/>
		<add key="EdgeBI.Wizards.StepExecuter.Cube.CubePermission.Name" value="EdgeBICubePermission"/>
		<add key="EdgeBI.Wizards.StepExecuter.Folder.PanoramaBooks" value="D:\Program Files\Panorama\E-BI\Books\"/>
		<add key="EdgeBI.Wizards.StepExecuter.Folder.PanoramaBookTemplate" value="BOTemplate"/>
		<add key="EdgeBI.Wizards.StepExecuter.Folder.File.AplicationXml" value="D:\Program Files\Panorama\E-BI\Applications.xml"/>
		<add key="EdgeBI.Wizards.StepExecuter.Folder.File.PanoramaMsc" value="D:\Program Files\Panorama\E-BI\Panorama.msc"/>
    <add key="EdgeBI.Wizards.StepExecuter.Panorama.ServerToReplace" value="79.125.11.74"/>
    <add key="EdgeBI.Wizards.StepExecuter.Panorama.ContentCubeToReplace" value="ContentConduit"/>
    <add key="EdgeBI.Wizards.StepExecuter.Panorama.BoCubeToReplace" value="BOTemplate"/>
    <add key="EdgeBI.Wizards.StepExecuter.Panorama.CubeDbtoReplace" value="Seperia_UDM"/>
    <add key="EdgeBI.Wizards.StepExecuter.Panorama.ContentViews" value="4. Placement by Time.xml,4. Placement Performance.xml"/>    
		<add key="EdgeBI.Wizards.StepExecuter.SSIS.TemplateAllBoPackagePath" value="D:\SSIS_Projects\Pkg_3000_Process_BOPPC_Cubes.dtsx"/>
    <add key="EdgeBI.Wizards.StepExecuter.SSIS.TemplateAllContentPackagePath" value="D:\SSIS_Projects\Pkg_3020_Process_Content_Olap.dtsx"/>
    <add key="EdgeBI.Wizards.StepExecuter.SSIS.TemplateBoSpecific" value="D:\SSIS_Projects\Pkg_3060_Process_Specific_BOTemplate.dtsx"/>
    <add key="EdgeBI.Wizards.StepExecuter.SSIS.AllBoPackageBackupPath" value="D:\SSIS_Projects\BackupAllBO"/>
    <add key="EdgeBI.Wizards.StepExecuter.SSIS.AllContentPackageBackupPath" value="D:\SSIS_Projects\BackupAllContent"/>
		<add key="EdgeBI.Wizards.StepExecuter.SSIS.BaseTask" value="Process Cube BOTemplate"/>
		<add key="EdgeBI.Wizards.StepExecuter.SSIS.SSISNewTaskPath" value="D:\SSIS_Projects\"/>
		
		
	</appSettings>

	<edge.services>
		<!-- Services -->
		<Services>
			<Service Name="WizardService" Class="EdgeBI.Wizards.WizardHostService,EdgeBI.Wizards"/>

			<Service Name="AccountWizard" WizardID="1">
				<ExecutionSteps>
					<Step ServiceToUse="AccountWizardCollectors" WizardRole="CollectorContainer"/>
					<Step ServiceToUse="AccountWizardExecutors" WizardRole="ExecutorContainer"/>
				</ExecutionSteps>
			</Service>

			<Service Name="AccountWizardCollectors">
				<ExecutionSteps>
					<Step ServiceToUse="ActiveDirectoryStepCollector" Name="ActiveDirectoryStepCollector" IsStep="True" LastStep="false" StepNum="1"/>
					<Step ServiceToUse="CreateRoleStepCollector" Name="CreateRoleStepCollector" IsStep="True" LastStep="false" StepNum="2"/>
					<Step ServiceToUse="CreateNewCubeCollector" Name="CreateNewCubeCollector" IsStep="True" LastStep="false" StepNum="3"/>
				<!---	<Step ServiceToUse="CreatePanoramaBookCollector" Name="CreatePanoramaBookCollector" IsStep="True" LastStep="false" StepNum="4"/>
					<Step ServiceToUse="AddToSSISCollector" Name="AddToSSISCollector" IsStep="True" LastStep="true" StepNum="5"/> -->
										
				</ExecutionSteps>
			</Service>

			<Service Name="AccountWizardExecutors">
				<ExecutionSteps>
			<!--	<Step ServiceToUse="ActiveDirectoryStepExecutor" CollectorStep="ActiveDirectoryStepCollector"/> -->
					<Step ServiceToUse="CreateRoleStepExecutor" CollectorStep="CreateRoleStepCollector"/>
					<Step ServiceToUse="CreateNewCubeExecutor" CollectorStep="CreateNewCubeCollector"/>
					<Step ServiceToUse="CreatePanoramaBookExecutor" CollectorStep="CreatePanoramaBookCollector"/>
					<Step ServiceToUse="AddToSSISExecutor" CollectorStep="AddToSSISCollector"/>
          <Step ServiceToUse="CubesProcessingExecutor" CollectorStep=""/>
				</ExecutionSteps>
			</Service>
			
			<Service Name="ActiveDirectoryStepCollector" Class="EdgeBI.Wizards.AccountWizard.ActiveDirectoryStepCollector,EdgeBI.Wizards.AccountWizard"/>
			<Service Name="CreateRoleStepCollector" Class="EdgeBI.Wizards.AccountWizard.CreateRoleStepCollector,EdgeBI.Wizards.AccountWizard"/>
			<Service Name="CreateNewCubeCollector" Class="EdgeBI.Wizards.AccountWizard.CreateNewCubeCollector,EdgeBI.Wizards.AccountWizard"/>
			<Service Name="CreatePanoramaBookCollector" Class="EdgeBI.Wizards.AccountWizard.CreatePanoramaBookCollector,EdgeBI.Wizards.AccountWizard"/>
			<Service Name="AddToSSISCollector" Class="EdgeBI.Wizards.AccountWizard.AddToSSISCollector,EdgeBI.Wizards.AccountWizard"/>
			
			
			<Service Name="ActiveDirectoryStepExecutor"  Class="EdgeBI.Wizards.AccountWizard.ActiveDirectoryStepExecutor,EdgeBI.Wizards.AccountWizard"/>
			<Service Name="CreateRoleStepExecutor"  Class="EdgeBI.Wizards.AccountWizard.CreateRoleStepExecutor,EdgeBI.Wizards.AccountWizard"/>
			<Service Name="CreateNewCubeExecutor"  Class="EdgeBI.Wizards.AccountWizard.CreateNewCubeExecutor,EdgeBI.Wizards.AccountWizard"/>
			<Service Name="CreatePanoramaBookExecutor"  Class="EdgeBI.Wizards.AccountWizard.CreatePanoramaBookExecutor,EdgeBI.Wizards.AccountWizard"/>
			<Service Name="AddToSSISExecutor"  Class="EdgeBI.Wizards.AccountWizard.AddToSSISExecutor,EdgeBI.Wizards.AccountWizard"/>
      <Service Name="CubesProcessingExecutor"  Class="EdgeBI.Wizards.AccountWizard.CubesProcessingExecutor,EdgeBI.Wizards.AccountWizard"/>
			

		</Services>

		<!-- Accounts -->
		<Accounts>
			<!--<Account ID="-1" Name="SYSTEM">
				<Services>
					-->
			<!--<Service Uses="TestDemoAdGroupAdStatus"/>-->
			<!--
				</Services>
			</Account>-->
		</Accounts>
	</edge.services>

	<!-- ======================================================== -->
	<!--				WCF configuration						  -->
	<!-- ======================================================== -->

	<system.serviceModel>
		<!--Server configuration-->
		<services>
			<service name="Easynet.Edge.Services.ScheduleManagement.ScheduleManagerService" behaviorConfiguration="behavior">
				<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Easynet.Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/OrganicScheduleManager"/>
			</service>
			<service name="EdgeBI.Wizards.StepCollectorService" behaviorConfiguration="StepCollectorServiceBehavior">
				<endpoint  binding="netTcpBinding" bindingConfiguration="wizardStepBinding" contract="EdgeBI.Wizards.IStepCollector"/>
			</service>
		</services>
		<client>
			<endpoint  name="Test" binding="netTcpBinding" bindingConfiguration="wizardStepBinding"  contract="EdgeBI.Wizards.IStepCollector"></endpoint>
		</client>


		<behaviors>
			<serviceBehaviors>
				<behavior name="behavior" >
					<serviceMetadata httpGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					
				</behavior>
				<behavior name="StepCollectorServiceBehavior">
					<serviceMetadata httpGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>          
				</behavior>
			</serviceBehaviors>



		</behaviors>

		<bindings>
			<netTcpBinding>
				<binding name="edgeServiceCommBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
				<binding name="wizardStepBinding" portSharingEnabled="true" receiveTimeout="9:0:0" closeTimeout="9:0:0" openTimeout="9:0:0" sendTimeout ="9:0:0" maxReceivedMessageSize="10000000"  maxBufferSize="10000000" maxBufferPoolSize="10000000"  />
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
		</bindings>

	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
