body {
	margin:0 auto;

}
#container {
	overflow: hidden;
	font-family: verdana;
	
	
}

#logo {
	float:left;
	margin-top:15px;
	width: 95px;
	height: 45px;
	margin-left: 30px;
}
#menu {
	height:100%;
	width: 200px;
	float: left;
	margin-right: 10px;
	-webkit-transition: all 1.5s ease-in;
	-moz-transition: all 1.5s ease-in;
	-o-transition: all 1.5s ease-in;
	transition: all 1.5s ease-in;
	position: relative;
	margin-left:14px;
	
}


#sub{
	width:100%;
	position:absolute;
	top:90px;
	z-index: 0px;
	
}
#accounts li ul{
	padding: 5px 0px 0px 21px;
	
}
#accounts ul li,#accounts ul li a{
	list-style: none;
	font-weight: normal;
	color: #4A4A4A;
    font-weight: normal;
    list-style: none outside none;
    text-decoration: none;
	font-size: 12px;
}
#accounts ul li ul li,#accounts  ul li ul li a{
	list-style: none;
	font-weight: normal;
	color: #4A4A4A;
	text-decoration: none;
	
}
header {
	
	display:block;
	overflow:hidden;
	background: -moz-linear-gradient(top, #F3F3F3, white 30%);

}
#main {
	height: 800px;
	position:relative;
	float: left;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;

}

#top{
	float: left;
	
}
#top ul{
	margin: 0px 0px 0px 0px;
	padding:0px;
	
}
#top ul li{
	float: left;
	list-style: none;
	margin-left: 10px;
	
}
#top ul li a{
	color:	#83888E;
	
}

/* accounts menu container */
#accounts{
	width:100%;
	
	background-color: #f7f7f7 ;
	background-image: -moz-linear-gradient(top, #f7f7f7 , #f1f1f1 ); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f7f7f7 ),color-stop(1, #f1f1f1 )); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7 ', EndColorStr='#f1f1f1 '); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7 ', EndColorStr='#f1f1f1 ')"; /* IE8 */
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position: relative;
	z-index:100;
	font: verdana;
	font-weight: bold;
	color: #4A4A4A;
	overflow: hidden;
	float: left;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
	

}
#accounts #Campaign{
	width: 100%;
	margin: 0px auto;
	text-align: center;
	height: 30px;
	font-size:12px;
	font-weight: normal;
	
}

#accounts li.campaign{
	font-weight: bold;
	
}
ul.head{
	margin-left: 0px;
	padding-left: 6px;
	
}
#selected{

	 -moz-border-bottom-colors: white #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    float: none;
    font-family: verdana;
    font-size: 16px;
    height: 30px;
    margin: 10px auto;
    text-align: center;
    width: 158px;
	
}
#accounts>ul{
	margin-top:0px; 
	padding-left: 21px;
	
}
#accounts ul li ul li{
	font-family: verdana;
	font-size: 10px;
	list-style-image:url('../img/bullet-kid_03.png');
	
}
#accounts ul li ul li ul li{
list-style-image:url('../img/bullet-grandkid_03.png');

}
#slider{
	width: 200px;
	margin-left: 10px;
}
#slider img{
	width:14px;
	height: 13px;
	margin-left: 1px;
}

/* section  */
h2.trigger {
	background:#90B63D url('../img/plus_04.png') 6px no-repeat ;
	float:left;
	font-family:"verdana";
	font-size:14px;
	font-weight:normal;
	height:25px;
	line-height:25px;
	outline:medium none;
	padding:0 0 0 0px;
	position:relative;
	width:100%;
	margin-top:0px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
h2.trigger span {
	color:white;
	display:block;
	margin-left:30px;
	text-decoration:none;
}
h2.trigger:hover {

	background-image:url("../img/plus-hover_04.png")  ;

}

h2.active {

	background-image:url("../img/minus_04.png") ;
	

}
/*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/

h2.active:hover {
	background:#90B63D url("../img/minus-hover_04.png") 4px no-repeat;

}
.toggle_container {
	margin: 0px 0px 0px 0px;
	padding: 0;
	font-family:verdana;
	line-height:24px;
	font-size: 12px;
	overflow:hidden;
	width: 100%;
	clear: both;
	transition: all ease-in 1.5s; /* css3 transition */
    -o-transition: all ease-in 1.5s;
    -moz-transition: all ease-in 1.5s;
    -webkit-transition: all ease-in 1.5s;
    -moz-transform:rotate(360deg);	
	-webkit-transform:rotate(360deg);	
   

}
.toggle_container .block {
	padding: 0px; /*--Padding of Container--*/
	margin-top:0px;
	margin-bottom:0px;
	transition: height ease-in-out 500ms; /* css3 transition */
    -o-transition: height ease-in-out 500ms;
    -moz-transition: height ease-in-out 500ms;
    -webkit-transition: height ease-in-out 500ms;
}

/* Login section*/
#login {

	 color: #83888E;
    float: right;
    font-size: 12px;
    margin-top:10px;
    margin-right:10px;
   
	
	
}

span#loginout a{
	color:#96BA4B;
	margin-right: 0px;
	font-size: 10px;
}

#user{
	
	float: left;
}
#user span {
	font-weight: bold;

}




/* menu */
.list {
	width:181px;
	color:#616161;
	padding-left: 32px;
	margin-top: 0;

}

.list a {

	color:#616161;

	text-decoration: none;
	padding-right:100%;
	outline: none;
	width: 160px;
	
}
.list a:active {
	color: white;
	text-decoration: none;

}
ul.list li{
	list-style: none;
	margin:2px 0px 2px 0px; 
	color:#666666;
	line-height: 24px;

	
}
ul.list li a {
	border-radius:5px;
	 -webkit-border-radius: 5px 5px 5px 5px;
	 -moz-border-radius: 5px 5px 5px 5px;
    color: #616161;
    display: block;
    font-family: verdana;
    font-size: 12px;
    padding: 2px 0 2px 8px;
    height: 18px;
    line-height: 18px;
    
    
}
.list li a:hover {
	background-color: #E2EDCD;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/*sub menu */
ul.list li ul li{
	list-style-type:square;
	margin-left: -17px;
	
}

ul.list li ul li a{
	width:137px;
	
}
ul.list li ul li ul li{
	list-style-type:square
	margin-left: -17px;
	
	
}

ul.list li ul li ul li a{
	width:114px;
	
}
#footer {
	margin-top:10px;
	height: 90px;
	text-align: center;

}





.selected {
	background-color: #E2EDCD;
	

}
li.current > a {
	color:white;
	display:block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display: block;
	width: 159px;
}
#sub ul li.current> a  , #sub ul li.current> a:hover {
	background:url("../img/white-arrow-space-right_03.png") no-repeat scroll right center #8D8D8D;
	position: relative;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	
}

#sub ul li ul li.current> a,#sub ul li ul li.current> a:hover{
	
	background:url("../img/white-arrow-space-right_03.png") no-repeat scroll right center #8D8D8D ;
	position: relative;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;.
	color: white;
	
}

#ajaxloader {
	-moz-border-radius:0 0 0 30px;
	-moz-box-shadow:-2px 0 10px #DCD8D7;
	display:block;
	left:684px;
	position:absolute;
	top:153px;
	width:200px;
	-moz-border-radius:  0px 0px 0px 30px; /* FF1+ */
	-webkit-border-radius:  10px 10px 10px 10px; /* Saf3-4 */
	border-radius:  10px 10px 10px 10px; /* Opera 10.5, IE 9, Saf5, Chrome */
	-moz-box-shadow: -2px 0px 10px #DCD8D7; /* FF3.5+ */
	-webkit-box-shadow: -2px 0px 6px #DCD8D7; /* Saf3.0+, Chrome */
	box-shadow: -2px 0px 6px #DCD8D7;

}
#ajaxloader img {
	position: absolute;
	top:50%
	left:50%

}
#show {
	display: block;

}
#slider span {
	font-size: 12px;
	color:#8D8D8D;
	margin-right: 5px;
	font-weight: bold;

}
#caption {
	color:#8D8D8D;
	display:inline;
	font-size: 12px;
	font-family: verdana;

}
.closed {
	/*
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	
	*/
	-moz-transform:rotate(180deg);
	-webkit-transform: rotate(180deg);

}
.hide {
	margin-left:-20%;

}
.sidebar #main {
	width:100%;
	/*
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
*/
}


.hidden{
	height: 0px;
	transition: all ease-in-out 1s; 
    -o-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;

	
	
}

.toggled{
	height: 0px;
	transition: all ease-in-out 1.5s; /* css3 transition */
    -o-transition: all ease-in-out 1.5s;
    -moz-transition: all ease-in-out 1.5s;
    -webkit-transition: all ease-in-out 1.5s;
	-moz-transform:skew(0deg);	
	-webkit-transform:skew(0deg);	
}

/*Breadcrumbs */
#breadcrumbs{
	float: left;
    font-family: verdana;
    font-size: 12px;
    margin-left: 62px;
    margin-top: 27px;
    position: relative;
   color: #666666;
	
}
#breadcrumbs ul{
	
	list-style: none;
	
	
}
#breadcrumbs ul li{
	line-height:30px;
	list-style: none;
	float: left;
	margin-left: 0px;
		margin-right: 15px;

	
}


#breadcrumbs ul li::after{
	content:url('../img/breadcrumb-arrow_03.gif') ;
	top:14px;
	position: absolute;


		
	
}
#breadcrumbs ul li:last-child{
	
	font-weight: bold;
	
}
#breadcrumbs ul li:last-child::after{
	content: "" !important ;
	
}


#head{
	width: 100%;
	overflow: hidden;
	position: relative;
	
}
#favicon{
	left: 16px;
    position: absolute;
    top: 10px;
}

#arrow{
	 height: 20px;
    position: absolute;
    right: 19px;
    top: 8px;
    width: 19px;
	
}
.regular{
	background: url("../img/down-arrow_04.png") no-repeat scroll  transparent;
	
}
.pressed{
	background: url("../img/down-arrow-pressed_04.png") no-repeat scroll  transparent;
	
}
.folded{
	height:80px;
	
	/*
	transition: all linear 1.5s; 
    -o-transition: all linear 1.5s;
    -moz-transition: all linear 1.5s;
    -webkit-transition: all linear 1.5s;
    
	*/
	-moz-box-shadow: 2px 1px 1px #CCC; 
	-webkit-box-shadow: 2px 1px 1px #CCC; 
	box-shadow: 2px 1px 1px #CCC;
}

.unfolded{
	/*
	transition: all linear 1.5s; 
    -o-transition: all linear 1.5s;
    -moz-transition: all linear 1.5s;
    -webkit-transition: all linear 1.5s;
	
	
	  
	  */
	  -webkit-box-shadow:4px 2px 1px #CCCCCC;
	  	box-shadow: 4px 2px 1px #CCCCCC;
	    -moz-box-shadow: 4px 2px 1px #CCCCCC;
	 	height:auto;

}
