
body{
    font-family:verdana;

}

h2.trigger {
	background:#F5F5F5 url('images/tb-closed.png') left no-repeat ;
   border-bottom:1px solid #C2C3C5;
border-top:1px solid #C2C3C5;
    float:left;
    font-family:"verdana";
    font-size:14px;
    font-weight:normal;
    height:23px;
    line-height:23px;
    margin:0;
    outline:medium none;
    padding:0 0 0 50px;
    width:100%;
        position:relative;
		width:95%\9;

}
h2.trigger a {
	color:#7CA81D;
	text-decoration: none;
	display: block;
    margin-left:-16px;

}

h2.trigger:hover{

    background:#E3E3E3 url("images/tb-closed-hover.png") left no-repeat   ;

}
h2.trigger a:hover {
    color:#7CA81D;

}
h2.active {

    background:#E3EDCB url("images/tb-open.png") left no-repeat;
    padding: 0 0 0 50px;
	height:23px;
    line-height:23px;
	width: 100%;
	font-size: 14px;
    font-family:"verdana";
	font-weight: normal;
	float: left;
    position:relative;
	width:95%\9;

}

/*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/


h2.active:hover{
    background:#E3EDCB url("images/tb-open-hover.png") left no-repeat;

}
.toggle_container {
	margin: 0px 0px 0px 0px;
	padding: 0;
	font-size: 12px;
    overflow:hidden;
	width: 100%;
	clear: both;

}




.toggle_container .block {
	padding: 0px; /*--Padding of Container--*/
	width:960px;
    font-size:12px;
    margin-top:0px;
    margin-bottom:0px;

}
#header{
    width:960px;
    margin:0 auto;
 background-color:#8d8d8d;
    overflow:hidden;
   
    height:26px;
    -moz-border-radius:5px 5px 0px 0px ;
	-webkit-border-radius:5px 5px 0px 0px ;
    line-height:26px;

}

#status{
	left:597px;
	position:relative;
	top:-26px;

}
#header ul li{
    float:left;
    list-style:none;
    margin-right:500px;




}


#header h5{
    margin:0px;
    color:white;
    font-family:verdana;


}
#header ul li:last-child{
    margin-right:50px;
    float:right;
     font-family:verdana;
}

#content{
    width:960px;
    overflow:hidden;
    border: 1px solid #C2C3C5 ;
    border-top-color:transparent;


}

#container{
   width:960px;
   margin:0 auto;


}

.list{
    list-style:none;
    padding-left:0px;
    margin:0px;




}

nav{
-moz-border-radius:10px 10px 10px 10px;
background-color:#E3EDCB;
display:block;
float:left;
height:175px;
margin:0 auto 20px;
overflow:hidden;
position:relative;
width:960px;


}

.calendar{
left:306px;
position:absolute;
top:105px;

}

h4{
    margin:0px;

}



.clear{
    clear: both;


}

.list li{
    border-top:1px solid #C2C3C5;
color:#7CA81D;
display:block;
font-family:verdana;
font-size:13px;

padding-bottom:2px;
padding-left:284px;
padding-top:2px;
cursor:hand;
	

}


.list li:hover{


}



.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(switch.gif) repeat-x 0 -30px;  display: block; float: left;  }
    .cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold;color:#d3d3d3; }
    .cb-enable span { background-position: left -120px; padding: 0 23px; }
    .cb-disable span { background-position: right -210px;padding: 0 32px; }
    .cb-disable.selected { background-position:0 -60px; }
    .cb-disable.selected span { background-position: right -240px; color: #fff; }
    .cb-enable.selected { background-position: 0 -60px; }
    .cb-enable.selected span { background-position: left -150px; color: #fff; }
    .switch label { cursor: pointer; }
    .switch input {
	display:block;
	position:absolute;
	z-index:-10000;

	}


#switcher{
    margin-left:40px;

}

#db{

float:left;
font-family:"verdana";
font-size:14px;
left:-104px;
position:relative;
top:82px;
width:261px;
}

#options{
 float:right;
position:absolute;
right:101px;
top:34px;
}

#options li{
    list-style:none;





}
span#bullet{
	float:left;
	margin-top:3px;
	margin-left:40px;
	margin-right:10px;
}

.mapping{
position:absolute;
   left:744px;
    top:-1px;
}
#modal{

    display:none;
}

ul#map{
    overflow:hidden;
    list-style:none;

}

table#map {
   margin:auto;
    width:800px;



}

#map td{

 border:1px solid #DEDBD1;
}




#map thead td{
font-weight:bold;
text-align:center;
color:#90B63D;
}


li a,li a:active{
    color: #7CA81D;
    text-decoration:none;

}

a.new{

    left:759px;
    position:absolute;
    top:-1px;
}

a.delete{

    float:right;
    margin-right:114px;

}

.delete span{
    display:block;
    width:100%


}

#confirm{
    display:none;

}

#confirm span{
    display:none;

}

.button {
    -moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
  background-color: #7DB72F;
  background-image: -moz-linear-gradient(top, #7DB72F, #4E7D0E); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #7DB72F),color-stop(1, #4E7D0E)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#7DB72F', EndColorStr='#4E7D0E'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7DB72F', EndColorStr='#4E7D0E')"; /* IE8 */
    border:1px solid #538312;
    color:#E8F0DE;
    padding:5px;
    cursor:pointer;
}
.button:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.button:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

.checkbox{
    float:left;
    margin-left:41px;
    margin-right:10px;

}

#analyze{

        float:left;
        margin-left:-188px;
        margin-top:90px;
}

#count{

    display:none;
}

#submit{
    float:right;
    margin-right:167px;
    margin-top:38px;
    margin-bottom:20px;
    font-weight:bold;
}
nav img{
float:left;
left:28px;
position:relative;
top:-29px;
}
#approval{

    display:none;
}

#check{
    float:right;
	margin:-33px 128px 0 0;
	position:relative;
}
#upperSubmit{
float:right;
position:absolute;
right:13px;
text-align:center;
top:113px;
width:81px;
}

nav h1{
width:200px;
color:#EFEFEF;
 text-shadow: 1px 5px 3px #888;
margin:0 auto;
}
#New_col{

    display:none;
}

#allnew{

    float:left;

    margin-top:141px;
}

#newonly{


}

#newcheck{

    margin-left:10px;
}


a.edit{
	position:absolute;
	right:419px;
}

#newlbl,#disabledlbl
{
	font-size:14px;
	  color:black;
	   clear: left;
}
#disabledCheck
{

	 margin-left:10px;


}

span#disable{

	float:left;
margin-left:37px;
margin-right:10px;
margin-top:3px;
}

#deleteApproval{
	display:none;

}

ul#combos{
	float:left;
margin-left:356px;
margin-top:-2px;
position:relative;

}
ul#combos li{
	float:left;
	list-style:none;

}
#disabledCheck{

}

#easyTooltip{
	padding:5px;
	border:1px solid #ccc;
	background:#f1f1f1;
	}
	
	#modal{
		display:none;
		width:80%;
	}

	
	#modal td{
		border:1px solid black;
	
	}