<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="EdgeBI.Wizards.Utils.WizardTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="WFTestWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <EdgeBI.Wizards.Utils.WizardTester.Properties.Settings>
            <setting name="AnalysisServerConnectionString" serializeAs="String">
                <value>DataSource=qa</value>
            </setting>
            <setting name="AnalysisServerDatabase" serializeAs="String">
                <value>easynet_UDM</value>
            </setting>
            <setting name="CubeNameStartWith" serializeAs="String">
                <value>BO</value>
            </setting>
            <setting name="CubeTemplatesBOTemplate" serializeAs="String">
                <value>BOTemplate3</value>
            </setting>
            <setting name="CPA1" serializeAs="String">
                <value>Regs</value>
            </setting>
            <setting name="CPA2" serializeAs="String">
                <value>Actives</value>
            </setting>
            <setting name="BookName" serializeAs="String">
                <value>BO New Activations1</value>
            </setting>
            <setting name="BookTemplatePath" serializeAs="String">
                <value>\\gidi-pc\d$\Program Files\Panorama\E-BI\books\BO PPC VS BCK</value>
            </setting>
            <setting name="BackUpName" serializeAs="String">
                <value />
            </setting>
            <setting name="PanoramaExecutionPath" serializeAs="String">
                <value>\\gidi-pc\d$\Program Files\Panorama\E-BI\Panorama.msc</value>
            </setting>
            <setting name="ApplicationsXmlPath" serializeAs="String">
                <value>\\gidi-pc\d$\Program Files\Panorama\E-BI\Applications.xml</value>
            </setting>
            <setting name="DtsxTemplatePath" serializeAs="String">
                <value>\\hal\d$\ssis_projects\Pkg_3000_Process_BOPPC_Cubes-Template.dtsx</value>
            </setting>
            <setting name="DtsxPath" serializeAs="String">
                <value>\\hal\d$\ssis_projects\Pkg_3000_Process_BOPPC_Cubes.dtsx</value>
            </setting>
            <setting name="CubeNamePattenToReplace" serializeAs="String">
                <value>BOPPCCube888</value>
            </setting>
            <setting name="DatabaseNamePattenToReplace" serializeAs="String">
                <value>easynet_UDM</value>
            </setting>
            <setting name="ServiceHostPath" serializeAs="String">
                <value>C:\Users\BIadmin\Desktop\Codebase-2010\Applications\EdgeServiceHost\bin\Debug\EdgeServiceHost.exe</value>
            </setting>
            <setting name="RoleMemberName" serializeAs="String">
                <value>Edge\BIadmin</value>
            </setting>
            <setting name="GoogleValues" serializeAs="String">
                <value>Signups,Lead,Purchase,Conversions</value>
            </setting>
            <setting name="CPAValues" serializeAs="String">
                <value>CPA1,CPA2</value>
            </setting>
        </EdgeBI.Wizards.Utils.WizardTester.Properties.Settings>
        <WFTestWizard.Properties.Settings>
            <setting name="ActiveDirectoryStepFileName" serializeAs="String">
                <value>User.xml</value>
            </setting>
        </WFTestWizard.Properties.Settings>
    </userSettings>
</configuration>
