<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="searchEngineUrls" type="System.Configuration.NameValueSectionHandler"/>
    <section name="convertAccounts" type="Easynet.Edge.UI.WebPages.XmlNodeSectionHandler, Edge.UI.WebPages" />
    <section name="convertionTypes" type="Easynet.Edge.UI.WebPages.XmlNodeSectionHandler, Edge.UI.WebPages" />

  </configSections>

	<appSettings>
		<add key="Easynet.Edge.Core.Data.DataManager.Command.Timeout" value="180"/>
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.Timeout" value="60"/>
		
		<add key="Easynet.Edge.UI.WebPages.OrganicPage.GraphRangeMax" value="10"/>
		<add key="Easynet.Edge.UI.WebPages.AlertsPage.InitialDate" value="20100203"/> 
	</appSettings>

	<connectionStrings>
		<add name="Easynet.Edge.UI.Data.Properties.Settings.easynet_OltpConnectionString"
			connectionString="Data Source=localhost;Initial Catalog=easynet_OLTP;Integrated Security=False;User ID=edge;PWD=edgebi!;"
			providerName="System.Data.SqlClient" />
		<add name="{{DISABLED 1}} Easynet.Edge.UI.Data.Properties.Settings.easynet_OltpConnectionString"
            connectionString="Data Source=79.125.11.74;Initial Catalog=easynet_OLTP;Integrated Security=False;User ID=edge;PWD=edgebi!;"
            providerName="System.Data.SqlClient" />
		<add name="{{DISABLED 2}} Easynet.Edge.UI.Data.Properties.Settings.easynet_OltpConnectionString"
            connectionString="Data Source=hal;Initial Catalog=easynet_OLTP;Integrated Security=False;User ID=edge2ui;PWD=Uzi!2009;"
            providerName="System.Data.SqlClient" />
		
		<add name="Easynet.Edge.UI.Data.Properties.Settings.Edge2alertsConnectionString"
			connectionString="Data Source=localhost;Initial Catalog=Edge2alerts;Integrated Security=False;User ID=edge;PWD=edgebi!;"
			providerName="System.Data.SqlClient" />
		<add name="{{DISABLED 3}} Easynet.Edge.UI.Data.Properties.Settings.Edge2alertsConnectionString"
            connectionString="Data Source=79.125.11.74;Initial Catalog=Edge2alerts;Integrated Security=False;User ID=edge;PWD=edgebi!;"
            providerName="System.Data.SqlClient" />
		<add name="{{DISABLED 4}} Easynet.Edge.UI.Data.Properties.Settings.Edge2alertsConnectionString"
            connectionString="Data Source=libit;Initial Catalog=Edge2alerts;Integrated Security=False;User ID=edge2ui;PWD=Uzi!2009;"
            providerName="System.Data.SqlClient" />
	</connectionStrings>


	<!--============================  CONVERT ACCOUNTS ========================================-->

  <convertAccounts>
    <Account id="95">
      <type money="GBP" DateFormat="dd/mm/yyyy" errorAccount="ERRORRR2">_888BO</type>
      <type>Yahoo</type>
      <type money="GBP" DateFormat="dd/mm/yyyy" errorAccount="ERRORRR">Bing</type>
      <type>Facebook</type>
    </Account>
    
    <Account id="7">
      <type money="GBP" DateFormat="dd/mm/yyyy" errorAccount="ERRORRR3">_888BO</type>
      <type>EasyForexYahoo</type>
      <type money="GBP">EasyForexBing</type>
      <type>FacebookConvertorEasyForex</type>
    </Account>
    <Account id="524">
      <!--Wix-->
      <type>FacebookConvertorWix</type>
    </Account>

    <SaveFilePath>C:\Convertor Files\</SaveFilePath>
  </convertAccounts>


  <!--============================  CONVERSION TYPE ========================================-->

  <convertionTypes>

    <!-- EasyForex Convertions -->
    <FacebookConvertorEasyForex>
      <class>FacebookConvertor</class>
      <tmpHeader Campaign="Campaign Name" destUrl="Ad Name" Cost="Spent (USD)"  Clicks="Clicks"  Imps="Impressions"   >  </tmpHeader>
      <AccountNameRows >EasyForex</AccountNameRows>
      <FileSavePath>c:\Convertor Files\</FileSavePath>
    </FacebookConvertorEasyForex>

    <EasyForexBing>
      <class>MSNConvertor</class>
      <tmpHeader Pos="Average Position" Headline="Ad Title" Desc1="Ad Description"  Campaign="Campaign Name" Adgroup="Ad group"  DestURL="Destination URL"
          Imps="Impressions" Clicks="Clicks" Cost="Spend" > </tmpHeader>
      <AccountNameRows >EasyForex</AccountNameRows>
      <FileSavePath>c:\Convertor Files\</FileSavePath>
      <DateFormat>dd/mm/yyyy</DateFormat>
    </EasyForexBing>

	  <Bing>
		  <class>MSNConvertor</class>
		  <tmpHeader Pos="Average Position" Headline="Ad Title" Desc1="Ad Description"  Campaign="Campaign Name" Adgroup="Ad group"  DestURL="Destination URL"
			  Imps="Impressions" Clicks="Clicks" Cost="Spend" > </tmpHeader>
		  <FileSavePath>c:\Convertor Files\</FileSavePath>
		  <ProcessorFilePath>c:\Convertor Files\</ProcessorFilePath>
	  </Bing>
    

    <EasyForexYahoo>
      <class>YahooConvertor</class>
      <tmpHeader Cost="Cost" Pos="Average Position" Headline="Title" Desc1="Description"
                 DestURL="Destination URL" Adgroup="Ad Group"  Campaign="Campaign" Imps="Impressions"   Clicks="Clicks"  > </tmpHeader>
      <AccountNameRows >EasyForex</AccountNameRows>
      <FirstRowName>Totals</FirstRowName>
      <FirstHeaderRowName>Ad Id</FirstHeaderRowName>
      <AccountNameRows >EasyForex</AccountNameRows>
      <FileSavePath>c:\Convertor Files\</FileSavePath>
    </EasyForexYahoo>


    <!--Wix Convertions-->
    <FacebookConvertorWix>
      <class>FacebookConvertor</class>
      <tmpHeader Campaign="Campaign Name" destUrl="Ad Name" Cost="Spent (USD)"  Clicks="Clicks"  Imps="Impressions"   >  </tmpHeader>
      <AccountNameRows >Wix</AccountNameRows>
      <FileSavePath>C:\Convertor Files\</FileSavePath>
    </FacebookConvertorWix>

    <BackOffice>
      <class></class>
    </BackOffice>

    <_888BO>
      <class>888Convertor</class>
      <tmpHeader  serial="Gateway_id"  date="Day_code" Benefited_publisher_name="AccountName" ClientSpecific="ClientSpecific"></tmpHeader>
      <TableHeaderCounter>7</TableHeaderCounter>
      <AccountNameRows >888</AccountNameRows> 
      <FileSavePath>C:\Convertor Files\</FileSavePath>
      <ProcessorFilePath>C:\Convertor Files\</ProcessorFilePath>
    </_888BO>

  </convertionTypes>

  <searchEngineUrls>
    <add key="google" value="http://www.google.com/custom?cx=006157447500060481345%3Ax3glwu005wa&amp;q={0}&amp;gl={1}&amp;hl={2}"/>
    <add key="bing" value="http://www.bing.com/search?q={0}&amp;setmkt={2}-{1}"/>
    <add key="yahoo" value="http://search.yahoo.com/search?p={0}"/>
    <add key="yahoo/uk/en" value="http://uk.search.yahoo.com/search?p={0}"/>
  </searchEngineUrls>

  <system.serviceModel>
    <client>
      <endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Easynet.Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSecondary"/>
      <endpoint binding="netTcpBinding" bindingConfiguration="edgeAlertEngineBinding" contract="Easynet.Edge.Core.Workflow.IAlertEngine" address="net.tcp://localhost:3636/AlertEngineService"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="edgeAlertEngineBinding" receiveTimeout="1:0:0"/>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <httpRuntime  maxRequestLength="802400" executionTimeout="360"/>
    <identity impersonate="true"/>
    <customErrors mode="Off"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>

        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>