<?xml version="1.0" encoding="UTF-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration>
	<appSettings>
		<!--<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=console.edge-bi.com;Initial Catalog=Seperia;User Id=edgedev;Password=Uzi!2010"/>-->
		<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=192.168.1.151;Initial Catalog=testdb;User ID=sa;Password=Iuh2sstd" />
		<add key="DWH.ConnectionString" value="Data Source=192.168.1.151;Initial Catalog=testdb;User ID=sa;Password=Iuh2sstd" />
		<add key="CheckSession" value="true" />
		<add key="JsonFormatting" value="false" />

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin\Handlers" />								 
		</assemblyBinding>
	</runtime>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</modules>

		<handlers>
			<clear />
			<add name="AccountHandler" path="accounts*" verb="*" type="Edge.Api.Accounts.Handlers.AccountHandler,Edge.Api.Accounts" resourceType="Unspecified" requireAccess="Script" />
			<add name="CoreHandler" path="*" verb="*" type="Edge.Api.Handlers.CoreHandler,Edge.Api" resourceType="Unspecified" requireAccess="Script" />
			
		</handlers>

		<!--<rewrite>
			<rules>
				<rule name="Rewrite CI Index">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html|xbap|svc|deploy|manifest|dll" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php/{R:0}" />
				</rule>
			</rules>
		</rewrite>-->
	</system.webServer>

</configuration>