<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Easynet.Edge.Services.DataRetrieval.BaseService.SourceConnectionString" value="Data Source=hal;Initial Catalog=Source;User ID=edge2ui; Password=Uzi!2009" />
		<add key="SMS.AccountToken1" value="edgebi"/>
		<add key="SMS.AccountToken2" value="ed9812"/>
		<add key="SMS.Sender" value="0747000000"/>
		<add key="SMS.Url" value="http://smartsms.co.il/member/http_sms_api.php"/>
		<add key="SMS.Body" value="UN={AccountToken1}&amp;P={AccountToken2}&amp;SA={Sender}&amp;UR=&amp;DA={TargetNumber}&amp;M={Message}"/>
	</appSettings>
</configuration>