<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Easynet.Edge.Services.DataRetrieval.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Easynet.Edge.Services.DataRetrieval.Properties.Settings>
            <setting name="Edge_Services_DataRetrieval_GAdWordsAccountServiceV13_AccountService"
                serializeAs="String">
                <value>https://adwords.google.com/api/adwords/v13/AccountService</value>
            </setting>
            <setting name="Edge_Services_DataRetrieval_GAdWordsReportServiceV13_ReportService"
                serializeAs="String">
                <value>https://adwords.google.com/api/adwords/v13/ReportService</value>
            </setting>
            <setting name="Edge_Services_DataRetrieval_EasyForexBackOfficeAPI_Marketing"
                serializeAs="String">
                <value>https://classic.easy-forex.com/BackOffice/API/Marketing.asmx</value>
            </setting>
            <setting name="Edge_Services_DataRetrieval_com_google_adwords_CampaignService"
                serializeAs="String">
                <value>https://adwords.google.com/api/adwords/cm/v200909/CampaignService</value>
            </setting>
        </Easynet.Edge.Services.DataRetrieval.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>